.sarchPage__info{
    padding: 20px;
}
.sarchPage__info > p{
    margin-bottom: 10px;
    font-size: 14px;
}
.sarchPage__info >h1{
    margin-bottom: 30px;
}
.sarchPage__info >button{
    border-radius: 30px;
    text-transform: inherit;
    margin: 5px;
}